doctype html
html(lang="en")
  head
    title Project CHEF
    link(rel="stylesheet" href="/libs/foundation/css/foundation.css")
    link(rel="stylesheet" href="/css/style.css")

    script(src="libs/angular/angular.min.js")
    script(src="libs/angular-route/angular-route.min.js")
    script(src="/libs/foundation/js/vendor/jquery.js")
    script(src="/libs/foundation/js/vendor/fastclick.js")
    script(src="/libs/foundation/js/foundation.min.js")
    script.
      $(document).foundation();
  body
    .row
      .small-12
        h1 CHEF YO

